<h3>Sing In</h3>

<form method='post' action='/admin'>
    <label for='username'><b>Username</b></label>
    <input type='text' name='username' placeholder='Enter Username'>

    <label for='password'><b>Password</b></label>
    <input type='password' name='password' placeholder='Enter Password'>

    <input type='submit' value='Login' class='btn'>

</form>


<!-- <h3>Register</h3>

<form method='post' action='/register'>
    <label for='username'><b>Username</b></label>
    <input type='text' name='username' placeholder='Enter Username'>

    <label for='password'><b>Password</b></label>
    <input type='password' name='password' placeholder='Enter Password'>

    <input type='submit' value='Register' class='btn'>

</form> -->